body {
  margin: 0;
  padding: 0;

  /* Add a light gray background color */
  background-color: #f6f6f6;
}

/* Center the section element and give it a max-width, white background color, and box-shadow */
section {
  margin: 30px auto;
  max-width: 500px;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 5px 5px 4px #ebebeb;
}

/* Remove margins for the title element and add padding and left alignment */
#title {
  margin: 0;
  padding: 14px;
  text-align: left;

  /* Decrease font size and make it bold */
  font-size: 15px;
  font-weight: 600;

  /* Add a light gray border at the bottom */
  border-bottom: 1px solid lightgray;
}

/* Set the input field to take up the full width, with border-box sizing and 14px padding */
#input-field {
  width: 100%;
  box-sizing: border-box;
  padding: 14px;
  border: none;
  border-bottom: 1px solid lightgray;
}

/* Make the placeholder text italic and decrease the font size */
#input-field::placeholder {
  font-style: italic;
  font-size: 15px;
}

/* Add a light gray border at the bottom of the list container */
#list-container {
  border-bottom: 1px solid lightgray;
}

/* Remove list styling for the ul element */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 14px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

ul li p {
  width: 100%;
  padding: 0;
  margin: 0;
}

.checkbox {
  margin: 0 14px 0 0;
  padding: 0;
}

#clear-button {
  text-align: center;
  margin: 0 auto;
  color: #a3a3a3;
  font-size: 15px;
  padding: 20px 0;
  background-color: #f6f6f6;
  font-weight: 400;
}
